discord.py==2.7.1
python-dotenv==1.2.2
captcha==0.7.1
Pillow==12.2.0
fastapi==0.137.2
uvicorn[standard]==0.49.0
pyjwt==2.13.0
aiohttp==3.14.1
requests==2.34.2
boto3==1.43.33
python-multipart==0.0.32
httpx==0.28.1
